<!-- <p *ngIf="editMode=='false'" [style.color]='textColor' >{{title}}</p>
<input type="text" *ngIf="editMode=='true'"  [(ngModel)]="title" />
<button *ngIf="editMode=='true'" (click)=removeSelf() >Delete</button>
<button (click)=toggleCheck() *ngIf="editMode=='false'">
  <p *ngIf="!checked">check</p>
  <p *ngIf="checked">uncheck</p>
</button> -->

<div class="row">
  <div class="col s8 m8 l8 xl8 ">
    <p [style.color]='textColor' [style.text-decoration]='decoration' *ngIf="editMode=='false'" >{{title}}</p>
    <input type="text" *ngIf="editMode=='true'"  [(ngModel)]="title" />
  </div>
  <div class="col s4 m4 l4 xl4">
    <button (click)=removeSelf() *ngIf="editMode=='true'" class="imgButton">
      <img class="icon" src="../../../assets/cross.png" />
    </button>
    <button (click)=toggleCheck() *ngIf="editMode=='false'" class="imgButton">
      <img *ngIf="!checked" class="icon" src="../../../assets/done.png" />
      <img *ngIf="checked" class="icon" src="../../../assets/doneGreen.png" />
    </button>
  </div>
</div>
