.imgButton{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  float:right;
  margin-top:12px;
  color: inherit;
  cursor: pointer;
}

.titleButton{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  margin-top:12px;
  cursor: pointer;
}

.icon{
  width:20px;
  margin-top:30px;
}
